@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align:center">
    <h1>Welcome to the Friendship bench!</h1>
    <img src="http://www.friendshipbenchzimbabwe.org/wp-content/uploads/sites/128/2016/03/logo-269x300.png"/>
</div>
