
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<div ng-app="users" ng-controller="usersCtrl">
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <div ng-if="user">
        <table>
            <tbody>
                <tr>
                    <td>First Name:</td>
                    <td><input ng-model="user.firstname" /></td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td><input ng-model="user.lastname" /></td>
                </tr>
                <tr>
                    <td>Gender:</td>
                    <td><input ng-model="user.gender" /></td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td><input ng-model="user.age" /></td>
                </tr>
                <tr>
                    <td>email:</td>
                    <td><input ng-model="user.email" /></td>
                </tr>
            </tbody>

        </table>
        <input ng-click="sendData()" type="button" value="Send data" />
    </div>
    <div ng-if="!user">
        There was a problem retrieving the user.
    </div>
    <script>
    //module
        var app = angular.module('users', [], function ($locationProvider) {
            $locationProvider.html5Mode({
                enabled: true,
                requireBase: false
            });
        });

    //controller
        app.controller('usersCtrl', function ($scope, $http, $location) {
            path = $location.path()
            $scope.id = path.substr(path.lastIndexOf('/') + 1);


        $http.get('http://127.0.0.1:54618/api/users/'+$scope.id)
            .then(function (response) {
                //first function handles succes
                $scope.user = response.data;
            }, function (response) {
                //second function handles error
                console.log("something went wrong!");
                });

        $scope.sendData = function () {
            $http.post('http://127.0.0.1/api/users/' + $scope.id, $scope.user)
                .then(function (response) {
                    alert('User '+$scope.user.firstname+' '+$scope.user.lastname+' has been saved');

                }, function (response) {
                    //second function handles error
                    alert('something went wrong!');

                });

        };
    });
    </script>


