
@{
    ViewData["Title"] = "Client info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Benches</h2>

<div ng-app="client" ng-controller="clientcontroller">
    <div>Requested info for bench: {{client.id}}</div>  
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
        <form name="myForm">
            <table id="example" class="table">
                <thead>
                    <th>firstname</th>
                    <th>lastname</th>
                    <th>emailadres</th>
                    <th>gender</th>
                    <th>birthday</th>
                    <th>streetName</th>
                    <th>houseNumber</th>
                    <th>province</th>
                    <th>district</th>
                    <th></th>
                <tbody>
                    <tr ng-model="client">
                        <td><input ng-model="client.firstName" name="firstName" value={{client.firstName}} /></td>
                        <td><input ng-model="client.lastName" name="lastName" value={{client.lastName}} /></td>
                        <td><input readonly ng-model="client.email" name="email" value={{client.email}} /></td>
                        <td><input ng-model="client.gender" name="gender" value={{client.gender}} /></td>
                        <td><input ng-model="client.birthDay" name="birthDay" value={{client.birthDay}} /></td>
                        <td><input ng-model="client.streetName" name="streetName" value={{client.streetName}} /></td>
                        <td><input ng-model="client.houseNumber" name="houseNumber" value={{client.houseNumber}} /></td>
                        <td><input ng-model="client.province" name="province" value={{client.province}} /></td>
                        <td><input ng-model="client.district" name="district" value={{client.district}} /></td>
                        <td><input type="button" class="btn btn-success" value="save" ng-click="saveclient('put')"></td>
                    </tr>
                </tbody>
            </table>
            <input type="hidden" ng-model="client.id" name="id" value={{client.id}} />
        </form>
    </div>

