
@{
    ViewData["Title"] = "Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Appointments</h2>

<div ng-app="hwAppointments" ng-controller="appointmentCtrl">
    <div ng-view></div>
    
</div>

