@{
    ViewData["Title"] = "Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/js/metro.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/metro.css" />
<h2>Admin control panel</h2>

<div class="content">
    <div class="container dynamicTile">
        <div id="row">
            <div class="col-sm-2 col-xs-4">
                <div id="tile1" class="tile">
                    <div class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <a href="" />
                            <div class="item text-center">
                                <BR><BR>
                                <div class="icontext">
                                    Manage
                                </div>
                                <div class="icontext">
                                    Clients
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-xs-4">
                <div id="tile4" class="tile">
                    <div class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <a href="" />
                            <div class="item text-center">
                                <BR><BR>
                                <div class="icontext">
                                    Manage
                                </div>
                                <div class="icontext">
                                    Healthworkers
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-xs-4">
                <div id="tile8" class="tile">
                    <div class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <a href="" />
                            <div class="item text-center">
                                <BR><BR>
                                <div class="icontext">
                                    Manage
                                </div>
                                <div class="icontext">
                                    Benches
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-xs-4">
                <div id="tile2" class="tile">
                    <div class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <a asp-area="" asp-controller="Appointments" asp-action="Index">
                                <div class="item text-center">
                                    <BR><BR>
                                    <div class="icontext">
                                        Manage
                                    </div>
                                    <div class="icontext">
                                        Appointments
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container dynamicTile">
        <div id="row">
            <div class="col-sm-2 col-xs-4">
                <div id="tile1" class="tile">
                    <div class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <a href="" />
                            <div class="item text-center">
                                <BR><BR>
                                <div class="icontext">
                                    View
                                </div>
                                <div class="icontext">
                                    Questionlist?
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-xs-4">
                <div id="tile4" class="tile">
                    <div class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <a href="" />
                            <div class="item text-center">
                                <BR><BR>
                                <div class="icontext">
                                    ?
                                </div>
                                <div class="icontext">
                                    ?
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-xs-4">
                <div id="tile8" class="tile">
                    <div class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <a href="" />
                            <div class="item text-center">
                                <BR><BR>
                                <div class="icontext">
                                    ?
                                </div>
                                <div class="icontext">
                                    ?
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-xs-4">
                <div id="tile2" class="tile">
                    <div class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <a href="" />
                            <div class="item text-center">
                                <BR><BR>
                                <div class="icontext">
                                    ?
                                </div>
                                <div class="icontext">
                                    ?
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

