
@{
    ViewData["Title"] = "My Questionnaires";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Questionnaires</h2>

<div ng-app="questionnaires" ng-controller="questionnairesCtrl">
    <div ng-view></div>

</div>